[user]
	name = 三咲智子 Kevin Deng
	email = sxzz@sxzz.moe
	signingKey = 875207EAE15488CF94C3241169992F2250DFD93E
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[receive]
	denyCurrentBranch = warn
[push]
	default = current
	autoSetupRemote = true
[core]
	autocrlf = input
[tag]
	gpgSign = true
